mab-ai-check-drawing-sa-key.json
__pycache__/
*.swp
node_modules/
multi-fileupload/*
!/multi-fileupload/.gitkeep
dist/
*.jpg
*.jpeg
*.csv

logs/*
!/logs/.gitkeep

.venv/
*.db
docker-summary.md

backend_tasks/logs/*.json
create-label-responce/*
!/create-label-responce/.gitkeep

drawing-review-responce/*
!/drawing-review-responce/.gitkeep

drawing-compare-responce/*
!/drawing-compare-responce/.gitkeep

drawing-highlight-responce/*
!/drawing-highlight-responce/.gitkeep

update-label-response/*
!/update-label-response/.gitkeep
