# __pycache__
poc-shared-mab-ai-adv-util-sa.json
__pycache__/
*.swp
node_modules/
multi-fileupload/
dist/
*.jpg
*.jpeg
*.csv

logs/*
!/logs/.gitkeep

.venv/

create-label-responce/**/*.json
create-label-responce/**/*.txt
