# __pycache__
poc-shared-mab-ai-adv-util-sa.json
__pycache__/
*.swp
node_modules/
multi-fileupload/
dist/
*.jpg
*.jpeg
*.csv

logs/*
!/logs/.gitkeep

.venv/

backend_tasks/logs/*.json
create-label-responce/**/*.json
create-label-responce/**/*.txt

drawing-review-responce/*
!/drawing-review-responce/.gitkeep
