fastapi
uvicorn[standard]
itsdangerous
python-multipart
autopep8
requests
google-cloud-vision
Pillow
opencv-python
google-genai
pdf2image
img2pdf
openpyxl
imagehash
polars
redis
passlib
python-jose
bcrypt==4.3.0
pypdf
